/* CSS voor de eerste form input */
fieldset {
    display: grid;
    gap: 2em;
}

legend {
    font-family: verdana, sans-serif;
    font-size: 1rem;
}


input {
    background-color: #b6b7de;
    color: rgb(196, 75, 75);

    font-size:1em;

    padding:.5em;
}

[type="datetime-local"]{
    color:blue;
}

[type="email"]{
    background-color: lightyellow;

    background-image: linear-gradient(45deg, red,green);
    background-size: 2em 2em;
    background-repeat: no-repeat;
    background-position: .25em center;
    padding:.75em .75em .75em 2.5em;
}
