/* Experiment 1 */
h2 {
    color: midnightblue;
}

/* Experiment 2 */
.pink {
    color: pink;
}

/* Experiment 3 */
.h2.heading_article {
    color: aquamarine;
}

/* Experiment 4 */
#heading {
    color:brown;
}