*{
    margin: 0;
    padding: 0;
}

/* CSS voor de header en navigatiebar */
header {
    display: flex; /*elementen in de header gaan flexen*/
    justify-content:space-between; /*geeft spacing tussen de items*/
    align-items:center; /* Zorgt ervoor dat alle items in de header verticaal gecentreerd worden binnen de hoogte van de header. */
    top:0; /* Geeft aan dat de header zich aan de bovenkant van het scherm blijft wanneer hij 'sticky' is. */
    background-color: var(--white);
    height: 4em;
        @media (min-width:46em) {
            flex-wrap: wrap;

            button {
                display: none; /*Op een width van 48em (736px) passen alle menubalk knoppen. Op dat moment is de menbalk-icoon niet meer nodig. Deze wordt hiermee verbor*/
            }
            nav button {
                display: none;
            }    
        }
}

button {
    all: unset; /*Verwijdert de standaard styling van de button*/
    cursor: pointer;
}

/* CSS voor navigatie */
nav {
    position: fixed;
    left:0; /*navigatiebar beslaat gehele scherm*/
    right:0;
    top:0;
    bottom:0;
    translate:-100% 0%; /*de navigatiebar uit beeld schuiven met translate. De nav beweegt zijn eigen breedte 100% naa links.*/
    transition: translate .3s; /*Menu komt binnen .3sec in beeld*/
    background-color: var(--white);
        @media (min-width: 46em) { /*De nav weer op zijn ‘normale’ plek zetten als het scherm groter wordt*/
        translate:unset;
        padding:0;
        display: contents;
        }
}

nav.toonMenu { /*aangemaakte class in javascript*/
    translate: 0% 0%; /*Menu komt in beeld*/
}


nav .first-nav {
    padding-left: 2em;
    padding-top: 2em;
    background-color: var(--white);
    @media (min-width: 46em) {
        display: flex; /* Flexbox zorgt ervoor dat de lijstitems naast elkaar worden geplaatst */
        justify-content: flex-end; /* De content wordt aan de rechterkant uitgelijnd */
        gap: 1em; /* Er is een ruimte van 1em tussen de items */
        width: 100%;
        background-color: var(--black); /*Zwarte achtergrondkleur voor de eerste navigatiebalk: variabel uit de gezamenlijke stylesheet */
        top: 10px;
        padding-top: 0; /*Padding-top op 0 bij groot scherm*/
    }
}

nav .first-nav a {
    text-decoration: none;
    color:var(--black); 
    font-family: var(--font-default); 
    font-size: var(--font-size-menu);
    @media (min-width: 46em) {
        display: flex;
        justify-content: right;
        color:var(--white); 
        line-height: 3em; /* De hoogte van de tekstregel is 3em voor verticale uitlijning */
        font-size: var(--font-size-menu); /* De tekengrootte is 11px */
        text-decoration: none; /* Onderstreping van de tekst is uitgeschakeld */
        font-family: var(--font-default);  /* Lettertype wordt bepaald door de variabel uit de gezamenlijke stylesheet  */
        margin-right: 1em; /* Voegt ruimte toe aan de rechterkant van de svg */
    }
}

ul {
    list-style: none;
}
    
.second-nav {
    padding-left: 2em;
    @media (min-width: 46em) {
        border: solid #fff .5px; /* Witte tweede navigatiebalk met een lichte grijze rand, */
        background-color: var(--white);
        margin-top: 1em;
    }
}

nav ul.second-nav {
    @media (min-width: 46em) {
        display: flex;
        justify-content: center; /*lijstitems worden gecentreerd met een ruimte van 1em tussen de items */
        gap: 1em; 
        order: 1;
        width: 100%;
        border: solid #E1E1E1 .5px; /* Witte tweede navigatiebalk met een lichte grijze rand, */
    }
}
.second-nav a{
    text-decoration: none; /* De links in de tweede navigatiebalk hebben geen onderstreping */
    color: black;
    line-height: 2.5em;
    font-family: "Inter", sans-serif; /* Tekst wordt weergegeven in het Inter-lettertype, 13px groot */
    font-size: 13px; 
}



/* CSS voor de logo, ondertitel, en doneerknop */
.section-logo-boven {
    display: flex;
    align-items:center; 
    @media (min-width: 46em) {
        display: grid;
        grid-template-areas: 
        "logo doneren zoeken"
        "tekst doneren zoeken";
        grid-template-columns: 7.5fr .5fr .5fr;
        grid-template-rows: 1fr 1fr;
        background-color: var(--white);
        width: 100%; /*neemt gehele scherm in beslag*/
        margin-top: 1em;
        margin-left: 1.1em;
    }
}

.logo-above {
    flex-grow:1; 
    justify-content:center;
    padding: 0;
    @media (min-width: 46em) {
        grid-area: logo;
        padding-left: .5em;
    }
}

.ondertitel-logo {
    display: none;
    @media (min-width: 46em) {
        display: block;
        grid-area: tekst;
        font-family: var(--font-default);
        font-size: var(--font-size-menu);
        text-transform: uppercase; 
        
    }
}

.button-doneren {
    display: none;
    @media (min-width: 46em) {
        display: block;
        grid-area: doneren;
    }
}

.search-button {
    flex-grow:1; 
    @media (min-width: 46em) {
        grid-area: zoeken;
        place-content: right;
        padding-left: 1em;
    }
}
