header {
    display: flex; /*elementen in de header gaan flexen*/
    justify-content:space-between; /*geeft spacing tussen de items*/
    align-items:center; /* Zorgt ervoor dat alle items in de header verticaal gecentreerd worden binnen de hoogte van de header. */
    position: sticky; /* Zorgt ervoor dat de header vast blijft staan bovenaan de pagina wanneer je scrollt. */
    top:0; /* Geeft aan dat de header zich aan de bovenkant van het scherm blijft wanneer hij 'sticky' is. */
}

button {
    all: unset; /*Verwijdert de standaard styling van de button*/
    cursor: pointer;
}

nav {
    position: fixed;
    left:0; /*navigatiebar beslaat gehele scherm*/
    right:0;
    top:0;
    bottom:0;
    translate:-100% 0%; /*de navigatiebar uit beeld schuiven met translate. De nav beweegt zijn eigen breedte 100% naa links.*/
    transition: translate .3s; /*Menu komt binnen .3sec in beeld*/
}

nav.toonMenu { /*aangemaakte class in javascript*/
    translate: 0% 0%; /*Menu komt in beeld*/
}

ul {
    list-style: none;
}

a{
    text-decoration: none; /* De links in de tweede navigatiebalk hebben geen onderstreping */
    color: black;
    line-height: 2.5em;
    font-family: "Inter", sans-serif; /* Tekst wordt weergegeven in het Inter-lettertype, 13px groot */
    font-size: 13px; 
}